<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/db/login" method="post">
        <input type="username" placeholder="username" name="username" id="">
        <input type="password" placeholder="password" name="password" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>